{% extends 'aplicacion/home.html' %}

{% block titulo %}
<style>
    .table thead th {
        background-color: #FFD800;
        border: 1px solid black;
    }

    .table td, .table th {
        border: 1px solid black;
    }

    .table tbody tr {
        border-bottom: 1px solid black;
    }
</style>
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">¡Encuentra tu nuevo hogar!</div>
        <div class="masthead-heading text-uppercase">Alquila tu casa ideal</div>
    </div>
</header>
{% endblock titulo %}

{% block contenido %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Tipo de propiedad</th>
            <th>Metros cuadrados</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
        {% for a in alquilar %}
        <tr>
            <td>{{ a.id }}</td>
            <td>{{ a.tipo }}</td>
            <td>{{ a.mt2 }}</td>
            <td>{{ a.precio }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<h5>Agregar Nueva Propiedad</h5>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Agregar</button>
</form>
{% endblock contenido %}
{% block servicios %}
{% endblock servicios %}