{% extends 'aplicacion/home.html' %}

{% block titulo %}
<!-- Estilos personalizados para la tabla -->
<style>
    .table thead th {
        background-color: #FFD800; /* Color de fondo para las cabeceras de la tabla */
        border: 1px solid black;
    }
    .table td, .table th {
        border: 1px solid black; /* Bordes para las celdas de la tabla */
    }
    .table tbody tr {
        border-bottom: 1px solid black; /* Borde inferior para las filas de la tabla */
    }
</style>
<header class="masthead">
    <div class="container">
        <!-- Título y subtítulo de la página de compra de propiedades -->
        <div class="masthead-subheading">¡No busques más!</div>
        <div class="masthead-heading text-uppercase">Compra la casa de tus sueños</div>
    </div>
</header>
{% endblock titulo %}

{% block contenido %}
<!-- Tabla para mostrar las propiedades disponibles para comprar -->
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tipo de Propiedad</th>
            <th>Metros Cuadrados</th>
            <th>Precio</th>
            <th>Acciones</th> <!-- Encabezado para las acciones como editar o borrar -->
        </tr>
    </thead>
    <tbody>
        {% for propiedad in comprar %}
        <tr>
            <td>{{ propiedad.id }}</td>
            <td>{{ propiedad.tipo }}</td>
            <td>{{ propiedad.mt2 }}</td>
            <td>{{ propiedad.precio }}</td>
            <td>
                <!-- Botones para editar y borrar propiedades -->
                <a href="{% url 'comprar_editar' propiedad.id %}" class="btn btn-sm btn-primary">Editar</a>
                <a href="{% url 'comprar_borrar' propiedad.id %}" class="btn btn-sm btn-danger">Borrar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<!-- Formulario para agregar una nueva propiedad -->
<h5>Agregar Nueva Propiedad</h5>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Agregar</button>
</form>
{% endblock contenido %}
{% block servicios %}
{% endblock servicios %}