{% extends 'aplicacion/home.html' %}

{% block titulo %}
<!-- Estilos personalizados para la tabla -->
<style>
    .table thead th {
        background-color: #FFD800; /* Color de fondo para las cabeceras de la tabla */
        border: 1px solid black;
    }
    .table td, .table th {
        border: 1px solid black; /* Bordes para las celdas de la tabla */
    }
    .table tbody tr {
        border-bottom: 1px solid black; /* Borde inferior para las filas de la tabla */
    }
</style>
<header class="masthead">
    <div class="container">
        <!-- Título y subtítulo de la página de formulario para encontrar o publicar propiedades -->
        <div class="masthead-subheading">¡Encuentra tu nuevo hogar!</div>
        <div class="masthead-heading text-uppercase">Alquila tu casa ideal</div>
    </div>
</header>
{% endblock titulo %}

{% block contenido %}
<!-- Formulario para enviar los datos de la propiedad -->
<form action='' method='post'>
    {% csrf_token %}
    <!-- Presentación del formulario como una tabla -->
    <table>
        {{ form.as_table }}
    </table>
    <!-- Botón para enviar el formulario -->
    <input type='Submit' value='Enviar'>
</form>
{% endblock contenido %}

{% block servicios %}
{% endblock servicios %}